{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
<script async src="https://analytics.flky.dev/tracker.js" data-ackee-server="https://analytics.flky.dev" data-ackee-domain-id="92cee36f-4b2a-4df4-87d9-7532b5692618" data-ackee-opts='{ "ignoreLocalhost": true, "detailed": true }'></script>
{{- /* Head custom content area end */ -}}
